#banner {
  margin: 5vw;
  max-width: 70vw;
  position: relative;
}

canvas {
  width: 100%;
}

h1 {
  font-family: 'Georama', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(25%, -100%);
  padding: 1vw;
  font-size: 10vw;
  color: lightpink;
  mix-blend-mode: color-dodge;
  text-align: right;
}
